<nav class="navbar navbar-light bg-white border-bottom py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Brand Logo -->
    <a class="navbar-brand fw-bold text-dark fs-4 m-0" href="/">
      Node <span class="text-primary">Project</span>
    </a>
    
    <!-- Navigation Buttons -->
    <div class="d-flex align-items-center gap-3">
      <a class="nav-link fw-medium text-secondary" href="/">
        <i class="ti ti-home"></i> Home
      </a>
      <a class="btn btn-primary px-3 shadow-sm btn-sm" href="/create">
        <i class="ti ti-plus"></i> Create blog
      </a>

      <div class="vr mx-1 opacity-25"></div>
      <% if(currentUser){ %>
        <a class="nav-link fw-medium text-secondary" href="/auth/logout">
          <i class="ti ti-login"></i> Logout
        </a>
      <% }else{ %>
        <a class="nav-link fw-medium text-secondary" href="/login">
          <i class="ti ti-login"></i> login
        </a>
        
        <a class="btn btn-outline-primary px-3 btn-sm" href="/register">
          <i class="ti ti-user-plus"></i> Sign up
        </a>
      <% } %>
      

    </div>
  </div>
</nav>